{% extends 'enroll/base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block content %}

<div class="mx-auto">
    
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}

    <form action="" method="POST" novalidate class="signuptextcolor">
        <h2 class=" alert alert-warning my-3">Sign up Form </h2>

        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small>
            </div>
            
        {% endfor %}

        <input type="submit" value="Register" class="btn btn-primary my-3">
    </form>
</div>

{% endblock content %}